.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-xs);
}

.title {
  font-size: var(--font-size-l);
  color: var(--secondary);
}

.verticalContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-l);
}
