.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.inputLabel {
  font-size: var(--font-size-l);
}
.enterButton {
  background-color: var(--primary);
  font-size: var(--font-size-xl);
  height: unset;
  padding: var(--spacer-m);
  font-weight: 100;
  line-height: normal;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}
.footerLine {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xs);
  font-size: var(--font-size-l);
}
/* .footerText {} */
.footerLink {
  text-decoration: none;
  color: var(--secondary);
}

.footerLink:hover {
  color: var(--primary);
}
