.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.label {
  font-size: var(--font-size-l);
}

.enterButton {
  background-color: var(--primary);
  font-size: var(--font-size-l);
  height: unset;
  padding: var(--spacer-s);
  font-weight: 100;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.footerLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacer-xxs);
  font-size: var(--font-size-m);
}

.footerLink {
  text-decoration: none;
  color: var(--secondary);
}

.footerLink:hover {
  color: var(--primary);
}
