.wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 50px 15vw;
}

.codeArea {
  width: 70vw;
}

.listWrapper {
  margin: 50px 0;
  width: 70vw;
  gap: 5vh;
  display: flex;
  flex-direction: column;
}

.langSelector {
  margin-bottom: 16px;
  max-width: 50%;
}

.label {
  font-size: 1.3rem;
}
