.wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: var(--lg2) 15vw;
}

.codeArea {
  width: 70vw;
}

.listWrapper {
  margin: var(--lg2) 0;
  width: 70vw;
  gap: 5vh;
  display: flex;
  flex-direction: column;
}

.langSelector {
  margin-bottom: var(--md2);
  max-width: 50%;
}

.label {
  font-size: var(--h4);
}
