.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.title {
  font-size: var(--font-size-l);
}

.info {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
}
