.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: var(--spacer-m);
  margin: var(--spacer-m) var(--spacer-m) var(--spacer-xxl)
    var(--spacer-s);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-s);
  padding: var(--spacer-s) var(--spacer-m);
}

.contentWrapper {
  width: 100%;
}

.shortInfo {
  display: flex;
  flex-direction: column;
}
.shortName {
  font-size: var(--font-size-l);
}
.login {
  color: var(--dark4);
}

.headerCell,
.cell {
  padding: var(--spacer-s);
  border-bottom: solid 1px #3a3a3a;
}
.cell {
  font-size: var(--font-size-s);
}
.headerCell {
  font-size: var(--font-size-m);
  user-select: none;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  gap: var(--spacer-xxs);
  flex-direction: row;
  cursor: pointer;
}
