.wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xs);
  align-items: center;
}

.input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.switchBody {
  align-items: flex-end;
}
