.wrapper {
  min-height: 70vh;
  padding-bottom: var(--spacer-l);
}
.table {
  width: 100%;
  border-spacing: 0px !important;
}

.table tr {
  display: grid;
}
.author {
  text-align: left;
}

.verdict {
  text-align: left;
}

.cell {
  font-size: var(--font-size-m);
}
.headerCell,
.cell {
  padding: var(--spacer-m);
  border-bottom: solid 1px #3a3a3a;
}

.headerCell {
  font-size: var(--font-size-l);
  user-select: none;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  gap: var(--spacer-xxs);
  flex-direction: row;
  cursor: pointer;
}

.even {
  background-color: #f8f8f8;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 2em;
  row-gap: var(--spacer-xs);
  padding-right: 5%;
  flex-wrap: wrap;
}

.title {
  text-decoration: none;
  text-align: left;
  font-size: 1.15em;
  color: var(--primary);
}

.title:hover {
  color: var(--secondary);
}

.tags {
  font-size: var(--font-size-xs);
  display: flex;
  gap: var(--spacer-xxs);
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
  color: grey;
}

.groups {
  font-size: var(--font-size-xs);
  display: flex;
  gap: var(--spacer-xxs);
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--dark2);
}

.link {
  text-decoration: none;
  color: var(--dark1);
}

.title:hover {
  color: initial;
}
