.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
  font-size: var(--font-size-s);
}

.modalTitle {
  font-size: var(--font-size-l);
  margin-right: 0;
}

.assignmentLink {
  text-decoration: none;
  color: var(--secondary);
}
.assignmentLink:hover {
  color: var(--primary);
}

.assignmentList {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
}
.notification {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
