.form {
  display: flex;
  flex-direction: column;
  gap: var(---md3);
  font-size: var(---p2);
}

.modalTitle {
  font-size: var(---h4);
  margin-right: 0;
}

.assignmentLink {
  text-decoration: none;
  color: var(---secondary);
}
.assignmentLink:hover {
  color: var(---primary);
}

.assignmentList {
  display: flex;
  flex-direction: column;
  gap: var(---md1);
}
.notification {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
