.link {
  text-decoration: none;
  color: var(--secondary);
}
.link:hover {
  color: var(--primary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
}

.toListButton {
  width: fit-content;
  margin-left: auto;
}
