.stepper {
  width: 80%;
  margin: var(--spacer-xl) auto;
}

.buttons {
  margin: 0;
  padding: var(--spacer-m) 0 var(--spacer-l) 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
  max-width: 1200px;
  margin: var(--spacer-xl) auto;
}

.label {
  font-size: var(--font-size-label-l);
}

.subLabel {
  font-size: var(--font-size-m);
}

.addButton span {
  font-size: var(--font-size-xxl);
  line-height: var(--font-size-xxl);
}

.addButton {
  width: 100%;
}

@media only screen and (min-width: 320px) {
  .wrapper {
    width: 95%;
  }
}

@media only screen and (min-width: 720px) {
  .wrapper {
    width: 80%;
  }
}
