.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.password {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}
