.wrapper {
  height: 100%;
  font-size: var(--font-size-l);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--spacer-s);
  column-gap: var(--spacer-l);
  row-gap: var(--spacer-xs);
}

.columnSelect,
.search {
  width: 25%;
  min-width: 350px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: var(--spacer-m);
  font-size: var(--font-size-m);
}

.pagesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.pageNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perPageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-xs);
}

.perPage {
  white-space: nowrap;
}

.selectPerPage {
  width: var(--spacer-xxl);
}

.pageNavigationWrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--spacer-s);
}

.emptyMessage,
.nothingFoundMessage {
  margin: var(--spacer-xxl) auto;
  width: fit-content;
}
