.burger {
  margin: 2em 1em;
  position: absolute;
}
.logoWrapper {
  padding: var(--spacer-m);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.linkWrapper {
  font-size: var(--font-size-xl);
  line-height: 2em;
  letter-spacing: 3px;
  padding-left: var(--spacer-xxxl);
  padding-top: var(--spacer-xxxl);
}

.linkDiv {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit !important;
  font-size: var(--font-size-xl);
  user-select: none;
}

.collapse {
  margin: 0;
}
.drawerContent {
  background-color: white;
  width: 100%;
  padding-bottom: 2em;
}
.noHoverLink:hover {
  background-color: unset;
}
