.wrapperTable table td {
  white-space: nowrap;
  height: 50px;
  min-width: var(--spacer-huge);
}

.wrapperTable {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.wrapperTable table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.wrapper::-webkit-scrollbar {
  height: var(--table-scroll-height);
}

.wrapper {
  height: inherit;
  width: inherit;
  overflow: scroll;
  max-height: 70vh;
}

.wrapperTable table tr:nth-child(odd) td:first-of-type,
.wrapperTable table tr:nth-child(odd),
.wrapperTable table tr:nth-child(odd) td:last-of-type {
  background-color: var(--dark6);
}

.wrapperTable table thead th {
  background: white;
  position: sticky;
  top: 0;
  width: max-content;
  text-align: left;
  /* margin-bottom: -1px; */
  box-shadow: inset 0 -1px black;
}

.wrapperTable > tr > td > table > thead > tr > th,
.wrapperTable > tr > td > table > tbody > tr > td {
  height: 50px;
  padding-right: var(--spacer-s);
  padding-left: var(--spacer-xs);
}

.leftTable,
.rightTable > thead > th {
  z-index: 5;
}

.wrapperTable > tr > td:first-of-type {
  background: white;
  position: sticky;
  z-index: 5;
  left: 0;
  padding-right: var(--spacer-s);
  padding-left: var(--spacer-xs);
}

.wrapperTable > tr > td:last-of-type {
  background: white;
  position: sticky;
  z-index: 5;
  right: 0;
  padding-right: var(--spacer-s);
  padding-left: var(--spacer-xs);
}

.wrapperTable > tr > td {
  padding: 0 !important;
}
