.table td {
  white-space: nowrap;
  height: 50px;
  min-width: var(--spacer-xxl);
}

.table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.wrapper::-webkit-scrollbar {
  height: var(--table-scroll-height);
}

.wrapper {
  height: inherit;
  width: inherit;
  overflow: scroll;
  max-height: 70vh;
}

.table tr:nth-child(odd) td:first-of-type,
.table tr:nth-child(odd),
.table tr:nth-child(odd) td:last-of-type {
  background-color: var(--dark6);
}

.table thead th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 var(--spacer-s) var(--spacer-s) 0;
  width: max-content;
  text-align: left;
  margin-bottom: -1px;
  box-shadow: inset 0 -1px black;
}

.table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.table thead th:last-child {
  position: sticky;
  padding-left: var(--spacer-s);
  right: 0;
  z-index: 2;
}

.table tbody tr td:first-of-type {
  background: white;
  position: sticky;
  left: 0;
  padding-right: var(--spacer-s);
  padding-left: var(--spacer-xs);
}

.table tbody tr td:last-of-type {
  background: white;
  position: sticky;
  right: 0;
  padding-right: var(--spacer-s);
  padding-left: var(--spacer-xs);
}
