.wrapper {
  padding: 0 var(--spacer-xl) var(--spacer-xxl) var(--spacer-xl);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--primary);
  font-size: var(--font-size-huge);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--spacer-xs);
}

.info {
  font-size: var(--font-size-xs);
  color: var(--dark3);
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
}

.usersInfo {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: var(--spacer-l);
  max-width: 1000px;
}

.tasksWrapper {
  margin: var(--spacer-l) auto;
}

.registrationWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-s);
  align-items: center;
  margin: var(--spacer-l) 0;
}

.bannedWrapper {
  color: red;
  margin: var(--spacer-l) 0;
  font-size: var(--font-size-l);
}

.register {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--font-size-l);
  cursor: pointer;
}
