.wrapper {
  /* width: 80% */
}

.wrapper svg {
  width: 100%;
  aspect-ratio: 330/166;
}

.title {
  font-size: var(--font-size-m);
  width: 100%;
  text-align: center;
  margin-bottom: var(--spacer-s);
}

.labels {
  font-size: 6px;
}

.legendWrapper {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: var(--spacer-s);
  column-gap: var(--spacer-l);
}

.legendItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-xs);
}
