.fields {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-l);
  margin-bottom: var(--spacer-xl);
}

.main,
.fullName {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.customTransferListWrapper {
  justify-content: flex-start;
}

.selectors {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.roleSelector {
  max-width: 300px;
}
