.itemWrapper {
  padding: var(--spacer-s) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 70vw;
}

.textInput {
  font-size: var(--font-size-m);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.label {
  font-size: var(--font-size-xl);
}

.displayedName {
  font-size: var(--font-size-m);
  color: var(--primary);
}

.displayedGrade {
  color: #707070;
  font-size: var(--font-size-m);
}
