.link {
  text-decoration: none;
  font-size: var(--font-size-xl);
  color: inherit !important;
}

.link:hover {
  background-color: #14c3ff1a;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacer-l) 70px var(--spacer-l) var(--spacer-xl);
}
.paddingLinks {
  padding: var(--spacer-xs) var(--spacer-l);
}
