.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 70vw;
  margin: 50px 15vw 0 15vw;
}

.radioGroups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 25px;
  column-gap: 100px;
  align-items: center;
}
