.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--lg2) 0;
  gap: 5vh;
}
.wrapper > * {
  width: 70vw;
}
.hintWrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.label {
  font-size: var(--h4);
}
.subLabel {
  font-size: var(--p1);
}
