.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 5vh;
}
.wrapper > * {
  width: 70vw;
}
.hintWrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.label {
  font-size: 1.4rem;
}
.subLabel {
  font-size: 1.2rem;
}
