.logoWrapper {
  color: inherit !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  font-weight: 400;
}
.name {
  font-size: 1.5em;
  line-height: 20px;
}
