.logoWrapper {
  color: inherit !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: var(--spacer-l);
  align-items: center;
  font-weight: 400;
}
.name {
  font-size: var(--font-size-xxxl);
  line-height: var(--spacer-m);
}
