@import 'mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.title {
  font-size: var(--font-size-xl);
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;

  @include for-size(tablet-landscape-up) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  grid-column-gap: var(--spacer-l);
  grid-row-gap: var(--spacer-m);
}
