.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 70vw;
  margin: var(--spacer-xl) 15vw;
}

.radioGroups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: var(--spacer-m);
  column-gap: var(--spacer-xxl);
  align-items: center;
}

.label {
  font-size: var(--font-size-l);
}
