.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.globalLabel {
  font-size: var(--font-size-xxl);
}
.label {
  display: flex;
  align-items: center;
  line-height: var(--spacer-xl);
  gap: var(--spacer-xs);
}
.exampleInput {
  width: 34vw;
}
.example {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 100%;
}
