.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 70vw;
  margin: var(--spacer-xs) auto;
}
.empty{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacer-xxl) var(--spacer-xxl);
  border: 1px dashed var(--primary);
}
.example {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.addButton span {
  font-size: var(--font-size-xxl);
}

.addButton {
  width: 100%;
}
