.wrapperList {
  display: flex;
  justify-content: center;
}

.label {
  font-size: var(---h4);
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(---sm);
  padding: var(---lg1);
}

.dragButton {
  width: var(---md3);
  height: var(---md3);
}
.head {
  font-size: var(---h4);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 70vw;
  margin: var(---lg3) 15vw var(---lg3) 15vw;
}
