.wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xl);
  align-items: center;
}

.title {
  font-size: var(--font-size-xl);

  text-align: center;
  margin-bottom: var(--spacer-m);
}

.history {
  column-count: 2;
  column-gap: var(--spacer-s);
}

.history div {
  margin-bottom: var(--spacer-xs);
}

.timeline {
  margin: var(--spacer-xl) 0;
}

.aboutWrapper {
  width: 90%;
}
