.selected {
  font-size: var(--p2);
  min-height: var(--lg3);
}

.selected span {
  overflow: visible;
}

.selectWrapper {
  width: 25%;
  min-width: 350px;
}
.inputElem {
  font-size: var(--p2);
  min-height: var(--lg2);
  display: flex;
}
.inputElem input {
  font-size: var(--p2);
}
