.selected {
  font-size: var(--font-size-m);
  min-height: var(--spacer-xl);
}

.selected span {
  overflow: visible;
}

.selectWrapper {
  width: 25%;
  min-width: 350px;
}
.inputElem {
  font-size: var(--font-size-m);
  min-height: var(--spacer-xxl);
  display: flex;
}
.inputElem input {
  font-size: var(--font-size-m);
}
