.wrapper {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-left: 2px var(--primary) solid;
  border-bottom: 2px var(--primary) solid;
  border-radius: 5px;
  font-size: var(--font-size-s);
}

.messages {
  display: flex;
  padding: 0 var(--spacer-xxs);
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: var(--spacer-s);
  border-bottom: solid var(--secondary) 2px;
  gap: var(--spacer-s);
}

.sendWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.message {
  min-width: 200px;
  border-radius: inherit;
  background-color: var(--primary-light);
  padding: var(--spacer-xs) var(--spacer-s) var(--spacer-xxs)
    var(--spacer-s);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-xs);
}

.own {
  align-self: flex-end;
}

.date {
  font-size: var(--font-size-xs);
  color: var(--dark3);
  margin-left: auto;
}

.content {
  font-size: var(--font-size-s);
  align-self: flex-start;
  word-break: break-all;
}

.user {
  font-size: var(--font-size-s);
  color: var(--secondary);
}

.button {
  margin: var(--spacer-xs);
}

.messageWrapper {
  position: relative;
  max-width: 75%;
  border-radius: 10px 10px 10px 0;
}

.own {
  border-radius: 10px 10px 0 10px;
}
:not(.own).messageWrapper:after {
  content: '';

  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  border-top: 7px solid var(--primary-light);
  border-right: 15px solid transparent;
}

.own.messageWrapper:after {
  content: '';
  width: 0;
  height: 0;
  right: 0;
  position: absolute;
  border-top: 7px solid var(--primary-light);
  border-left: 15px solid transparent;
}
