.wrapper {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 25vw;
  height: var(--spacer-xs);

  display: flex;
  flex-direction: row;
  gap: 1px;
  transition: height 0.3s;
  cursor: pointer;
}
.wrapper:hover {
  height: var(--spacer-xl);
}

.taskStatus {
  width: 100%;
  height: var(--spacer-xl);
  border-radius: 20% 20% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dimaWrapper {
  width: 30vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  height: var(--spacer-s);
  cursor: pointer;
}

.dimaArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark5);
}

.dimaList {
  display: flex;
  flex-direction: column;
  gap: var(--spaer-xs);
  border: 1px solid black;
}

.dimaTaskStatus {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: var(--spacer-xxs) var(--spacer-s);
}
