.wrapper {
  width: 100%;
  outline: 3px black groove;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--spacer-s);
}

.title a {
  font-size: var(--font-size-xxl);
  color: var(--primary);
  text-decoration: none;
}
