.stepper {
  width: 70vw;
  margin: 100px 15vw 0 15vw;
}
.buttons {
  margin: 25px 0 100px 0;
}
.notification {
  width: 100%;
  position: fixed;
  bottom: 20px;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
