.wrapper {
  min-height: 70vh;
}
.table {
  width: 100%;
  border-spacing: 0px !important;
  /* border-left: solid 1px #3a3a3a; */
}

.table tr {
  /* display: flex;
  flex-direction: row; */
  display: grid;
}

.title {
  /* width: 50%; */
  text-align: left;
}

.author {
  /* width: 25%; */
  text-align: left;
}

.grade {
  /* width: 12.5%; */
  text-align: left;
}

.verdict {
  /* width: 12.5%; */
  text-align: left;
}

.cell {
  font-size: 1.4rem;
}
.headerCell,
.cell {
  padding: 16px;
  /* border-right: solid 1px #3a3a3a; */
  border-bottom: solid 1px #3a3a3a;
}

.headerCell {
  font-size: 1.5rem;
  user-select: none;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  cursor: pointer;
}

.even {
  background-color: #f8f8f8;
}
