.dropdownBth {
  all: unset;
  font-size: 1em;
  padding: var(--spacer-xs);
}

.dropdownBth:hover {
  background-color: #14c3ff1a;
}

.items {
  font-size: var(--font-size-l);
}
.items:hover {
  background-color: #eee;
}
