.wrapper {
  display: block;
  flex-direction: column;
  padding: var(--spacer-s) var(--spacer-l);
  font-size: var(--font-size-s);
  margin-bottom: var(--spacer-xl);
}

.wrapper > * {
  margin-bottom: var(--spacer-xs);
}

.title {
  display: inline-block;
  font-size: var(--font-size-huge);
}

.complexity {
  display: inline-block;
  font-size: var(--font-size-xs);
  color: var(--dark3);
}

.constraints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacer-m);
  font-size: var(--font-size-xs);
  color: var(--dark3);
}

.tags {
  margin-bottom: var(--spacer-s);
  width: 70%;
}

.title,
.description,
.remark,
.formatWrapper {
  max-width: 1000px;
  padding-right: var(--spacer-s);
}

.languagesRestrictions {
  margin-top: var(--spacer-xs);
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xxs);
  align-items: center;
}

.languagesRestrictions .alert {
  font-size: var(--font-size-xs);
}

.formatWrapper {
  display: flex;
  flex-direction: column;
}

.formatLabel,
.examplesLabel,
.remarkLabel {
  color: var(--secondary);
  font-size: var(--font-size-l);
  padding: var(--spacer-s) 0;
}

.examplesLabel {
  padding: var(--spacer-m) 0 0 0;
  margin-bottom: var(--spacer-xs);
}

.table {
  margin-bottom: var(--spacer-m);
}

.table td {
  font-size: var(--font-size-s) !important;
  padding: var(--spacer-xs) var(--spacer-s) !important;
  overflow-wrap: anywhere;
}

.table tr {
  width: 70%;
  border: 1px solid #dee2e6;
}

.tableHeader {
  font-size: var(--font-size-m);
}

.exampleHeader {
  font-size: var(--font-size-s);
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: var(--spacer-xs) var(--spacer-s);
  }
}

@media print {
  .wrapper {
    margin: 0;
    padding: 0;
  }

  .tablesWrapper {
    width: 80%;
  }

  .table {
    break-inside: avoid;
  }

  .tbody tr {
    width: 50px;
  }
}
