.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px;
  font-size: 1rem;
}

.title {
  font-size: 1.7rem;
}
.formatWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formatLabel {
  font-size: 1.4rem;
  padding: 20px 0;
}

.table tr {
  width: 70%;
  border: 1px solid #dee2e6;
}

.tableHeader {
  font-size: 1.2rem;
}

.exampleHeader {
  font-size: 1.2rem;
  height: 2.5rem;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.examplesLabel {
  font-size: 1.4rem;
  padding: 16px 0 0 0;
}
