.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
  padding: var(--spacer-m) var(--spacer-xl);
  font-size: var(--font-size-m);
}

.title {
  font-size: var(--font-size-xxl);
}
.formatWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.formatLabel {
  font-size: var(--font-size-xl);
  padding: var(--spacer-m) 0;
}

.table {
  margin-bottom: var(--spacer-l);
}

.table td {
  font-size: var(--font-size-m) !important;
  padding: var(--spacer-s) var(--spacer-m) !important;
}

.table tr {
  width: 70%;
  border: 1px solid #dee2e6;
}

.tableHeader {
  font-size: var(--font-size-l);
}

.exampleHeader {
  font-size: var(--font-size-m);
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.examplesLabel {
  font-size: var(--font-size-xl);
  padding: var(--spacer-l) 0 0 0;
}
