.link {
  text-decoration: none;
  font-size: 1.2rem !important;
  color: inherit !important;
}

.link:hover {
  zoom: 110%;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px 24px 32px;
}
