.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 70vw;
  margin: var(--spacer-xxl) 15vw;
}
.label {
  font-size: var(--font-size-l);
}

.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: max(15%, 30px);
}

.selectorWrapper {
  width: 20vw;
}

.value span {
  font-size: var(--font-size-m);
}

.items {
  font-size: var(--font-size-m);
}
