.dropdownBth {
  all: unset;
  font-size: 1em;
  padding: 10px;
}

.dropdownBth:hover {
  background-color: rgba(20, 195, 255, 0.1);
}

.items {
  font-size: 1.3rem;
}
.items:hover {
  background-color: #eee;
}
