.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 70vw;
  margin: var(---lg3) 15vw;
}

.radioGroups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: var(---lg1);
  column-gap: var(---xl1);
  align-items: center;
}

.label {
  font-size: var(---h4);
}
