.infoWrapper {
  margin: var(--spacer-l) var(--spacer-huge) var(--spacer-huge)
    var(--spacer-xl);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-m);
  gap: var(--spacer-s);
}

.link {
  text-decoration: none;
  color: var(--primary);
}

.left {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
  max-width: 50%;
  word-break: break-all;
}

.right {
  min-width: 200px;
  font-size: var(--font-size-s);
}

.column {
  margin-right: auto;
  padding: var(--spacer-xxs) var(--spacer-xs);
}

.cell {
  font-size: var(--font-size-s);
  min-width: var(--spacer-huge);
  padding: var(--spacer-xs) var(--spacer-s);
}

.tableWrapper {
  white-space: pre-wrap;
  max-height: 60vh;
  overflow: scroll;
}

.tableWrapper table thead {
  background-color: white;
  position: sticky;
  top: 0;
}

.tableWrapper table thead tr {
  padding-bottom: var(--spacer-xxs);
}

.tableWrapper::-webkit-scrollbar {
  width: 2px;
}
