@import 'mixins';

.navbar {
  width: unset;
  height: fit-content;
  position: sticky;
  top: 0;

  @include for-size(tablet-landscape-up) {
    width: 300px;
    position: unset;
    top: unset;
  }
}

.button {
  display: block;
  width: 100%;
  padding: var(--spacer-xs) var(--spacer-xs);

  @include for-size(tablet-landscape-up) {
    padding: var(--spacer-xs) var(--spacer-s);
  }
}

.button:hover {
  background-color: #dddddd30;
}

.line {
  height: var(--spacer-m);
  border-radius: 50px;
  background-color: transparent;

  width: 3px;
  @include for-size(tablet-landscape-up) {
    width: 4px;
  }
}

.activeButton {
  background-color: #e7f5ff66 !important;
}

.activeLine {
  flex-shrink: 0;
  background-color: var(--primary);
}

.groupWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacer-xxs);

  @include for-size(tablet-landscape-up) {
    gap: var(--spacer-m);
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-s);
  flex-wrap: nowrap;
  margin-bottom: var(--spacer-xl);

  @include for-size(tablet-landscape-up) {
    gap: var(--spacer-m);
  }
}

.pageWrapper {
  width: 100%;
  margin-top: var(--spacer-l);
  margin-right: var(--spacer-m);
  overflow: auto;
}

.groupWrapper svg {
  flex-shrink: 0;
}
