.restWrapper {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  width: var(--spacer-huge);
  overflow-y: scroll;
  cursor: pointer;
}

.restWrapper > button > div > a {
  display: block;
}

.restWrapper > button > div {
  padding: var(--spacer-xs);
}

.restWrapper > button {
  padding: 0;
}
