.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xxs);
}

.labelWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xs);
  align-items: flex-end;
}

.label {
  font-size: var(--font-size-label-l);
}

.radioLabel {
  font-size: var(--font-size-label-m);
}

.radio:checked {
  background-color: var(--primary);
}
