.headerCell,
.cell {
  padding: var(--spacer-s);
  border-bottom: solid 1px #3a3a3a;
  word-wrap: break-word;
}

.cell {
  font-size: var(--font-size-s);
}

.headerCell {
  font-size: var(--font-size-m);
  user-select: none;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  gap: var(--spacer-xxs);
  flex-direction: row;
  cursor: pointer;
}

.taskLink {
  text-decoration: none;
  color: var(--primary);
  overflow-wrap: anywhere;
}

.taskLink:hover {
  color: var(--secondary);
}
