.wrapper {
  width: 100%;
  height: 200px;
  background-color: #37474f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lg4);
  font-size: var(--p1);
}

.githubs {
  display: flex;
  flex-direction: row;
  gap: var(--lg4);
  align-items: center;
}

.copyright {
  color: white;
}
