.wrapper {
  background-color: var(--dark2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer-m);
  padding: var(--spacer-xl) 0;
}

.githubs {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
  align-items: center;
  margin-top: var(--spacer-xl);
}

.github a:hover {
  background-color: inherit;
}

.copyright {
  color: white;
  font-size: var(--font-size-s);
}
