.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-l);
}

.text {
  font-size: var(--font-size-l);
}

.fullName {
  font-size: var(--font-size-xl);
  display: flex;
  gap: var(--spacer-xs);
  flex-direction: row;
}

.nameWrapper {
  display: flex;
  gap: var(--spacer-s);
  align-items: center;
}

.login {
  color: var(--dark4);
}

.avatarWrapper {
  position: relative;
}

.medal {
  position: absolute;
  bottom: -17px;
  right: -17px;
}
