.wrapper {
  min-height: 200px;
  max-width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.empty {
  margin: var(--spacer-huge) auto;
  font-size: var(--font-size-l);
}

.controls {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
}
