.wrapper {
  padding: 0 var(--spacer-xl) var(--spacer-huge) var(--spacer-xl);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--primary);
  font-size: var(--font-size-huge);
}

.info {
  font-size: var(--font-size-xs);
  color: var(--dark3);
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
  margin-bottom: var(--spacer-xs);
}
