.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
  padding: var(--spacer-s) var(--spacer-l) var(--spacer-l)
    var(--spacer-l);
  font-size: var(--font-size-s);
}

.title {
  font-size: var(--font-size-xl);
}

.defaultDuration {
  display: inline-block;
  font-size: var(--font-size-xs);
  color: var(--dark3);
}

.description {
  padding: var(--spacer-xs) 0px;
  font-size: var(--font-size-m);
}

.tableWrapper {
  width: 100%;
  margin-top: var(--spacer-m);
}

.tableWrapper tr {
  display: grid;
  grid-template-columns: 40% 30% 20% 10%;
}

.column {
  text-align: left;
}

.row {
  font-size: var(--font-size-m);
  padding: var(--spacer-m);
  border-bottom: 1px solid black;
}

.tableWrapper thead tr:first-child {
  border-bottom: 2px solid black;
}

.even {
  background-color: #f8f8f8;
}

.tableTitle {
  text-decoration: none;
  text-align: left;
  font-size: var(--font-size-m);
  color: var(--primary);
}

.tableTitle:hover {
  color: var(--secondary);
}
