.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--md3);
  padding: var(--md1) var(--lg3);
  font-size: var(--p2);
}

.title {
  font-size: var(--h2);
}

.description {
  padding: var(--md3) 0px;
  font-size: var(--p1);
}

.tableWrapper {
  width: 100%;
  margin-top: var(--md2);
}

.tableWrapper tr {
  display: grid;
  grid-template-columns: 40% 30% 20% 10%;
}

.column {
  text-align: left;
}

.row {
  font-size: var(--p1);
  padding: var(--md2);
  border-bottom: 1px solid black;
}

.tableWrapper thead tr:first-child {
  border-bottom: 2px solid black;
}

.even {
  background-color: #f8f8f8;
}

.tableTitle {
  text-decoration: none;
  text-align: left;
  font-size: var(--p1);
  color: var(--primary);
}

.tableTitle:hover {
  color: var(--secondary);
}
