@import 'mixins';

.pageWrapper {
  background: url('/media/code.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: var(--spacer-l);
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacer-xs);
}

.contentWrapper {
  background-color: #fffffff3;
  min-width: clamp(30%, 100%, 500px);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-l);
  border-radius: var(--spacer-xxs);
  padding: var(--spacer-xl);
  @include for-size(phone-only) {
    padding: var(--spacer-l);
  }
}

.title {
  font-size: var(--font-size-xxl);
}
