.searchBar {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  /* max-height: 500px; */
  /* min-height: 300px; */
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: var(--spacer-xs);
}

.content::-webkit-scrollbar {
  width: 2px;
}

.content::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

.content::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

.title {
  padding: var(--spacer-xs) 0;
}
