.wrapper {
  background-color: var(--primary);
  color: white;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statusCode {
  font-size: 15rem;
  text-align: center;
}
.description {
  font-size: 2.5rem;
  text-align: center;
}

.return {
  text-decoration: unset;
  font-size: var(--font-size-xxl);
  color: var(--primary);
  background-color: white;
  margin-top: var(--spacer-xl);
  padding: var(--spacer-s) var(--spacer-m);
  border-radius: 5px;
}
