@import 'mixins';

.wrapper {
  width: 85%;
  margin: var(--spacer-xl) auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xl);

  @include for-size(tablet-landscape-up) {
    margin: var(--spacer-m) auto var(--spacer-huge) auto;
  }

  @include for-size(big-desktop-up) {
    margin: var(--spacer-m) auto var(--spacer-xhuge) auto;
  }

  @include for-size(phone-only) {
    margin: var(--spacer-m) 0;
    width: 100%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.feedbackWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.title {
  font-size: var(--font-size-xl);
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.buttonWrapper {
  margin: auto;
}
