html,
body {
  margin: 0 !important;
  padding: 0 !important;
  --removed-scroll-width: 0 !important;
  font-size: var(--md2);
}

:root {
  --primary: #2ea3f2;
  --secondary: #005cd4;
  --positive: #04b504;
  --negative: red;
  --accent: #ff3dff;
  --h1: 2rem;
  --h2: 1.8rem;
  --h3: 1.6rem;
  --h4: 1.4rem;
  --p1: 1.2rem;
  --p2: 1rem;
  --xl1: 100px;
  --lg1: 80px;
  --lg2: 48px;
  --lg3: 36px;
  --lg4: 24px;
  --md1: 20px;
  --md2: 16px;
  --md3: 10px;
  --sm: 5px;
}

@media only screen and (max-width: 1080px) {
  html,
  body {
    font-size: var(--md2);
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: var(--md1);
  }
}

* {
  font-family: 'Exo 2' !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

*::-webkit-scrollbar {
  width: var(--sm);
}

*::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
}
