html,
body {
  margin: 0 !important;
  padding: 0 !important;
  --removed-scroll-width: 0 !important;
  font-size: var(---md2);
}

:root {
  ---primary: #3f97f0;
  ---secondary: #005cd4;
  ---h1: 2rem;
  ---h2: 1.8rem;
  ---h3: 1.6rem;
  ---h4: 1.4rem;
  ---p1: 1.2rem;
  ---p2: 1.1rem;
  ---p3: 1rem;
  ---sm: 5px;
  ---md1: 10px;
  ---md2: 16px;
  ---md3: 20px;
  ---lg1: 24px;
  ---lg2: 36px;
  ---lg3: 48px;
  ---lg4: 80px;
  ---xl1: 100px;
}

@media only screen and (max-width: 1080px) {
  html,
  body {
    font-size: var(---md2);
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: var(---md3);
  }
}

* {
  font-family: 'Exo 2' !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

*::-webkit-scrollbar {
  width: var(---sm);
}

*::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
}
