@import 'mixins';

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  --removed-scroll-width: 0 !important;
  --table-scroll-height: 10px;
  font-size: 14px;
  width: 100%;
}

:root {
  --primary: #2ea3f2;
  --secondary: #1c7ed6;
  --positive: #04b504;
  --negative: #ff0000;
  --neutral: #ffae00;
  --accent: #ff00d0;
}

:root {
  --primary-light: #63bdf823;
}

:root {
  --dark1: #000;
  --dark2: #333;
  --dark3: #666;
  --dark4: #999;
  --dark5: #ccc;
  --dark6: #f8f8f8;
}

:root {
  --chat-message-color: #d7efff;
  --current-host-color: #d0edffa6;
}

:root {
  --font-size-huge: 2.5rem;
  --font-size-xxl: 2rem;
  --font-size-xl: 1.7rem;
  --font-size-l: 1.4rem;
  --font-size-m: 1.2rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.8rem;
  --font-size-xxs: 0.6rem;
}

:root {
  --font-size-btn-xl: 1.4rem;
  --font-size-btn-l: 1.2rem;
  --font-size-btn-m: 1rem;
  --font-size-btn-s: 0.8rem;
}

:root {
  --font-size-label-l: 1.4rem;
  --font-size-label-m: 1.2rem;
  --font-size-label-s: 1rem;
  --font-size-label-xs: 0.8rem;
}

:root {
  --spacer-xxhuge: 24rem;
  --spacer-xhuge: 12rem;
  --spacer-huge: 6rem;
  --spacer-xxl: 4.5rem;
  --spacer-xl: 3rem;
  --spacer-l: 2rem;
  --spacer-m: 1.5rem;
  --spacer-s: 1rem;
  --spacer-xs: 0.6rem;
  --spacer-xxs: 0.3rem;
}

/* Custom Editor section starts */
.text-tiny {
  font-size: var(--font-size-xxs);
}

.text-small {
  font-size: var(--font-size-xs);
}

.text-big {
  font-size: var(--font-size-l);
}

.text-huge {
  font-size: var(--font-size-xl);
}

.image_resized img {
  width: 100%;
}

/* Custom Editor section ends */

html,
body {
  @include for-size(phone-only) {
    font-size: 15px;
  }
  @include for-size(tablet-portrait-up) {
    font-size: 14px;
  }
  @include for-size(desktop-up) {
    font-size: 16px;
  }
  @include for-size(big-desktop-up) {
    font-size: 18px;
  }
}

@media print {
  html,
  body {
    font-size: 22px;
  }
}

* {
  font-family: 'Exo 2' !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

*::-webkit-scrollbar {
  width: var(--spacer-xxs);
  height: var(--spacer-xxs);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark3);
}

.ck-editor__editable {
  max-height: 400px;
}
