html,
body {
  margin: 0 !important;
  padding: 0 !important;
  --removed-scroll-width: 0 !important;
  font-size: 16px !important;
}

:root {
  --primary: #2ea3f2;
  --secondary: #005cd4;
  --positive: #04b504;
  --negative: red;
  --accent: #ff3dff;
  --h1: 2rem;
  --h2: 1.8rem;
  --h3: 1.6rem;
  --h4: 1.4rem;
  --p1: 1.2rem;
  --p2: 1rem;
  --xl1: 6rem;
  --lg1: 5rem;
  --lg2: 3rem;
  --lg3: 2rem;
  --lg4: 1.5rem;
  --md1: 1.25rem;
  --md2: 1rem;
  --md3: 0.6rem;
  --sm: 0.3rem;
}

@media only screen and (max-width: 1440px) {
  html,
  body {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1024px) {
  html,
  body {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 320px) {
  html,
  body {
    font-size: 12px !important;
  }
}

* {
  font-family: 'Exo 2' !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

*::-webkit-scrollbar {
  width: var(--sm);
}

*::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
}
