.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem !important;
}

.languageInfo {
  line-height: 19px !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 32px;
  align-items: center !important;
}
