.selector {
  font-size: 1.2rem !important;
  color: inherit !important;
}
.selector fieldset {
  display: none !important;
}
.selector div {
  padding: 0 !important;
}
.selector svg {
  display: none !important;
}
.options {
  font-size: 1.2rem !important;
}
.link {
  text-decoration: none;
  color: inherit;
}
