.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-huge);
}

.info {
  font-size: var(--font-size-xs);
  color: var(--dark3);
  display: flex;
  flex-direction: row;
}
.description {
  max-width: 1000px;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
}
