.wrapper {
  padding: 0 var(--spacer-xl) var(--spacer-xxl) var(--spacer-xl);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-huge);
}

.info {
  font-size: var(--font-size-xs);
  color: var(--dark3);
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
}

.usersInfo {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: var(--spacer-l);
  max-width: 1000px;
}

.tasksWrapper {
  margin: var(--spacer-l) auto;
}
