.wrapper {
  width: 100%;
}
.card {
  width: 60vw;
  min-height: 65vh;
  margin: 5vh 5vw;
  padding: 0 0 var(--md2) 0;
  box-shadow: 0 -var(--sm) var(--sm) -3px rgb(0 0 0 / 20%),
    0 -var(--md3) var(--md2) 1px rgb(0 0 0 / 14%),
    0 -var(--sm) var(--md1) 3px rgb(0 0 0 / 12%);
  border-radius: 2%;
}
.left {
  display: flex;
  flex-direction: row;
}
.right {
  display: flex;
  flex-direction: row-reverse;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 4em;
  color: white;
  width: 100%;
  background-color: #000000c7;
  padding: var(--sm) var(--md1);
}
.description {
  font-size: var(--h3);
  padding: var(--md2) var(--md1);
}
.image {
  border-radius: 2% 2% 0 0;
  width: 100%;
  min-height: 300px;
  height: 100%;

  display: flex;
  align-items: flex-end;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  font-size: var(--h2);
  margin: var(--sm) var(--md1);
  font-weight: 600;
  padding: 0.8em;
  border: 2px solid #1c7ed6bf;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 1080px) {
  .content {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
